<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lingo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Lingo.My.MySettings>
      <setting name="champion" serializeAs="String">
        <value />
      </setting>
      <setting name="twitch_channel" serializeAs="String">
        <value />
      </setting>
      <setting name="screennumber" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="twitch_username" serializeAs="String">
        <value />
      </setting>
      <setting name="twitch_oauth_token" serializeAs="String">
        <value />
      </setting>
      <setting name="twitch_bot_owner" serializeAs="String">
        <value>Liquid_Kourage</value>
      </setting>
      <setting name="discord_oauth_token" serializeAs="String">
        <value />
      </setting>
      <setting name="discord_channel" serializeAs="String">
        <value />
      </setting>
      <setting name="discord_bot_owner" serializeAs="String">
        <value>LiquidKourage</value>
      </setting>
      <setting name="default_bot_type" serializeAs="String">
        <value>twitch</value>
      </setting>
      <setting name="DEBUG" serializeAs="String">
        <value>True</value>
      </setting>
    </Lingo.My.MySettings>
  </userSettings>
</configuration>